*{
    margin: 0;
    padding: 0;
}

.galeria{
    margin: 20px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.imagen-galeria{
    width: 300px;
}