*{
    margin: 0;
    padding: 0;
}
.btn-modern{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s, color 0.4s;
    }

.btn-modern:hover{
    background-color: crimson;
    border: 0;
    box-shadow: 0 0 15px #010100db;
    color: darkorange;
    transform: translateY(5px);
}