body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jumbotron{
    padding: 5vh ;
}

.formulario div{
    background-color: #444;
    color: #ddd;
}